.nav a {
  color: var(--three-color);
}

.title-info-day{
  color: var(--fourteen-color);
  font-size: 1em;
  text-align: center;
  margin-top:14%;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color);
}

@media screen  and (max-width:757px) and (min-width:320px) {
.title-info-day,
.objective-parade {
  font-size:0.6rem !important;
  padding-top:0.3rem !important;
}
}

@media screen  and (max-width:768px) {
  .objective-parade,
  .text-objective,
  .line-text-objective {
    display: none !important;
  }
  }

.container-card-day {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 6em !important;
  padding-bottom: 6em;
}

@media screen and (max-width:798px) {
  .container-card-day {
    flex-direction: column !important;
    gap: 6rem;
  }
  }
.name-schedule {
  padding: 15px 20px;
  text-align: center;
  font-size: 25px;
  color: var(--two-color);
}

.image-parading {
  width: 16.87rem;
  height:22rem;
  opacity: 1;
  border-radius: 5px 10px 20px 30px;
  border-bottom: 1px solid var(--four-color);
  box-shadow: 5px 5px 5px var(--five-color);
  padding-top: 2px;
}

.container-flip {
  position: relative;
  width: 16.87rem;
  height:22rem;
  padding-top: 2px;
}

.container-flip:hover .flip-image {
  transform: rotateY(180deg);
}

.flip-image {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 0.7s;
}

.front-image,
.back-image {
  position: absolute;
  width: 16.87rem;
  height:22rem;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000001b;
  backface-visibility: hidden;
}

@media screen and  (max-width: 798px) {
  .image-parading,
  .container-flip,
  .flip-image,
  .front-image,
  .back-image {
  left:0.2rem !important;
  width: 14rem !important;
  height:17rem !important;
  }
 
}

.front-image {
  background-size: cover;
}

.back-image {
  background-color: var(--six-color);
  transform: rotateY(180deg);
}
.back-image > p {
  display: flex;
  flex-direction: column;
  margin-top: 18%;
  text-align: center;
  font-size: 20px;
  color: var(--thirteen-color);
}

.form-button {
  margin: 3em auto 3em auto;
  width: 17rem !important;
  height: 2.5rem;
}
.button-form {
  width: 100%;
  height: 100%;
  background-color: var(--thirteen-color);
  color: var(--three-color);
  border: none;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 5px 5px 5px var(--six-color);
}
.button-form:hover {
  background-color: var(--six-color);
  color: var(--one-color);
  box-shadow: 5px 5px 5px var(--eight-color);
}

.objective-parade {
  color: var(--fourteen-color);
  font-size: 1.2em;
  text-align: center;
  margin-top:5%;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color);
}
.text-objective {
  margin: 3em auto 3em auto;
  width: 28em;
  color: var(--two-color);
  font-size: 1.5rem;
}

@media screen and  (max-width: 768px) {
  .text-objective {
    text-align: center;
    width:19rem;
    padding: 4px;
  }
 
}


  .name-location {
  color: var(--fourteen-color);
  font-size:40px;
  text-align: center;
  margin-top: 7%;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color);
}  

.container-info-location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
  color: var(--two-color);
  font-size: 21px;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color);
}

@media screen and  (max-width: 768px) {
  .container-info-location {
   display: block;
  }
 
}

.image-copan,
.iframe-location {
  width:  24.375rem;
  height:20rem; 
  border: 0;
  margin-top: 1em;
  border-radius: 5px 10px 20px 30px;
  border-bottom: 1px solid var(--four-color);
  box-shadow: 5px 5px 5px var(--five-color);
}

@media screen and  (max-width: 768px) {
  .image-copan,
  .iframe-location,
  .confirmation-card {
    width:16rem !important;
    height:12rem !important; 
  }
}

.name-address,
.name-copan,
.text,
.social-networks {
  color: var(--fourteen-color);
  text-align: center;
  font-size: 1.5em;
  margin-top: 3%;
  margin-bottom: 3%;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color);
}


.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em auto;
  width: fit-content;
  height: fit-content; 
}

.confirmation-card {
  width: 22em;
  height: 12em;
  border-radius: 5px 10px 20px 30px;
  border-bottom: 1px solid var(--four-color);
  box-shadow: 5px 5px 5px var(--five-color);
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3%;
  font-size: 25px;
  margin-bottom: 4% !important;
}
.icons > i:hover {
  transform: scale(1.8);
  transition: 500ms;
  cursor: pointer;
}
