header {
  background-image: url(/assets/img/img-home_cup.png);
  background-size: cover;
  background-repeat: no-repeat;

}
.title-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  transition: transform 0.1ms;
}
.title-nav:hover {
  transform: scale(1.01);
  border-bottom: 1px solid var(--four-color);
  box-shadow: 5px 5px 5px var(--five-color);
}
.title-logotipo {
  margin-left: 3%;
  padding-top: 3%;
  color: var(--three-color);
  font-size: 20px;
  padding-top: 5px;
}

.nav a {
  color: var(--three-color);
}
.nav a.active::after {
  width: 73% !important;
  margin-left: 1px !important;
}

.title-day,
.objective-parade {
  color:var(--fourteen-color);
  font-size: 22px;
  text-align: center;
  margin-top: 8%;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color)
}
.day {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
}
.day h3 {
  padding: 15px 20px;
  text-align: center;
  font-size: 25px;
  color: var(--two-color);
}

.image-parading {
  width: 300px;
  height: 400px;
  opacity: 1;
  border-radius: 5px 10px 20px 30px;
  border-bottom: 1px solid var(--four-color);
  box-shadow: 5px 5px 5px var(--five-color);

}

.container-flip{
  position: relative;
  width: 300px;
  height: 400px;
}

.container-flip:hover .flip-image{
  transform: rotateY(180deg);
}

.flip-image{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: .5s;
}

.front-image, .back-image{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #0000001b;
  backface-visibility: hidden;
}

.front-image{
  background-size: cover;
}

.back-image{
  background-color: var(--six-color);
  transform: rotateY(180deg);
 
}
.back-image >p{
  display: flex;
  flex-direction: column;
 margin-top:18%;
 text-align: center;
 font-size: 20px;
 color:var(--thirteen-color);
}

.button-form {
  width:25%;
  height: 45px;
  margin: 15% 0% 10% 38%;
  background-color:var( --thirteen-color);
  color: var(--three-color);
  border: none;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 5px 5px 5px var(--six-color);
}
.button-form:hover {
  background-color: var(--six-color);
  color: var(--one-color);
  box-shadow: 5px 5px 5px var(--eight-color);
}
.text-objective {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 33em;
  color: var(--two-color);
  font-size: 28px;
}
.title-location {
  color:var( --fourteen-color);
  font-size: 45px;
  text-align: center;
  margin-top: 7%;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color)
}
.location-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color:var( --fourteen-color);
  font-size: 34px;
  margin-top: 5%;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color)
}
.location-data {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--two-color);
  font-size: 25px;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color)
}
.location-data p {
  width: 40%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}
.image-copan {
  width: 540px;
  height: 360px;
  margin-left: 5%;
  margin-bottom: 5%;
  border:0;
  border-radius: 5px 10px 20px 30px;
  border-bottom: 1px solid var(--four-color);
  box-shadow: 5px 5px 5px var(--five-color);
}
iframe {
  width: 500px;
  height: 360px;
  margin-left: 10%;
  margin-bottom: 5%;
  border:0;
  border-radius: 5px 10px 20px 30px;
  border-bottom: 1px solid var(--four-color);
  box-shadow: 5px 5px 5px var(--five-color);
}
.text {
  color:var(--fourteen-color);
  text-align: center;
  font-size: 38px;
  margin-top: 3%;
  margin-bottom: 2%;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color)
}
.confirmation-card img {
  margin-left: 33%;
  width: 35%;
  height: 35vh;
  border-radius: 5px 10px 20px 30px;
  border-bottom: 1px solid var(--four-color);
  box-shadow: 5px 5px 5px var(--five-color);
  margin-top: 3%;
  margin-bottom: 5%;
}
.social-networks {
  color:var(--fourteen-color);
  font-size: 38px;
  text-align: center;
  margin-bottom: 3%;
  text-shadow: 0.1em 0.1em 0.2em var(--sixteen-color)
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3%;
  font-size: 25px;
  margin-bottom: 3%;
 
}
.icons > i:hover{
  transform: scale(1.8);
  transition: 500ms;
  cursor: pointer;
}










