body {
  background: linear-gradient(rgba(0, 0, 0, 0.904), rgba(0, 0, 0, 0.89)), 
              url('/assets/img/teste.jpg') no-repeat center center;
  margin: 0 0 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  background-color: black !important;
 
}
.nav a {
  color: var(--one-color);
}
.container-form{
  padding-top:20rem;
}
.form-phrase {
  color: var(--two-color);
  text-align: center;
  font-size: 40px;
  padding-top:4%;
  padding-bottom: 10%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.confirm-presence > p {
  color: var(--twelve-color);
  font-size: 22px;
  margin-top: 1%;
}
.confirm-presence > h2 {
  color: var(--one-color);
  font-size:3em;
  padding-bottom: 8%;
  text-align: center;
}

.questions {
  margin-left: auto;
  margin-right: auto;
  margin-bottom:5%;
  width: 40%;
  height: 72vh;
  background-color: transparent;
  border-radius: 5px 10px 20px 30px;
  border-bottom: 1px solid var(--four-color);
  box-shadow: 5px 5px 5px var(--five-color);
}
.form-info {
  color: var(--one-color);
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  padding-top: 4%;
}
.form-info2 {
  padding-top: 5%;
  color: var(--one-color);
  font-size: 25px;
  margin-left: 5%;
}
.question {
  color: var(--one-color);
  font-weight: lighter;
  padding-top: 5%;
}
.form-input {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--one-color);
  padding: 12px 13px 13px;
  border-bottom: solid 1px var(--two-color);
  width: 50%;
}
::placeholder {
  color: var(--one-color);
  opacity: 0.1;
}
.options {
  display: flex;
  flex-direction: row;
  gap: 13px;
  margin-top: 5%;
  margin-left: 6%;
}
.question-inputs {
  display: block;
  position: relative;
  margin-bottom: 12px;
  margin-top: 8%;
  padding-left: 30px;
  cursor: pointer;
  font-size: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.question-inputs input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: var(--one-color);
  border-radius: 50%;
}
.question-inputs:hover input ~ .checkmark {
  background-color: var(--ten-color);
}
.question-inputs input:checked ~ .checkmark {
  background-color: var(--nine-color);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.question-inputs input:checked ~ .checkmark:after {
  display: block;
}
.question-inputs .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--one-color);
}
.confirm-presence {
  color: var(--two-color);
  margin-top: 2%;
}
.button-form {
  margin: 7% 10% 6% 34%;
  width: 30%;
  height: 5vh;
  background-color: var(--one-color);
  color: var(--three-color);
  border: none;
  cursor: pointer;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 5px 5px 5px var(--six-color);
}
.button-form:hover {
  background-color: var(--seven-color);
  color: var(--one-color);
  box-shadow: 5px 5px 5px var(--eight-color);
}
#success-messages-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--one-color);
  color: var(--two-color);
  font-size: 25px;
  padding: 50px;
  text-align: center;
  display: none;
  border-radius: 5px 10px 20px 30px;
}
#error-messages-container{
  position: fixed;
  bottom:25%;
  right:15%;
  transform: translate(-50%, -50%);
  background-color: var(--thirteen-color);
  color: var(--twelve-color);
  font-size: 25px;
  padding: 30px;
  text-align: center;
  display:none;
  border-radius: 5px 10px 20px 30px;
}

footer{
  color: aliceblue !important;
}